certifi==2023.7.22
chardet==3.0.4
idna==2.8
requests==2.31.0  # do not upgrade for now
urllib3==1.26.18  # issue with cloudscraper
ipdb==0.12.3
pillow==10.3.0
PyInstaller==5.13.1
Flask==2.2.5
pylint==2.4.4
lxml==4.9.1
smart-open==1.9.0
blitzdb==0.4.4
aria2p==0.7.1
Flask-Caching==1.8.0
cloudscraper==1.2.58
setuptools==65.5.1
dataset==1.3.2
jmespath==0.10.0